@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #57a738;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

/* .card:hover,
.card:focus,
.card:active {
  color: #a3320b;
  border-color: #57a738;
} */

.card h3 {
  margin: 0 0 1rem 0;
  color: #112b48;
}

.card p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.5;
}

.logo {
  height: 1em;
}


.articleHead {
  text-transform: uppercase;
  font-size: 38px;
  text-align:center
}

.articleBody {
  max-width: 1280px;
  width: 80%;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  border-radius: 5px;
}

.social {
  display:'flex';
  justify-context: space-between
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card{
    width: 80%;

  }
  .card h2{
    font-size:20px;
  }
  .card p {
    font-size: 14px
  }
  .articleBody {
    padding:0.5em;
    width:100%;
    Font-size:16px;
  }
  
  .articleHead {
    font-size: 28px;

  }
}