@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,400;1,300&display=swap');
.title a , .title span {
    color: #57a738;
    text-decoration: none;
    font-family: 'Lobster', cursive;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    color:#7eec53;
    font-family: 'Lobster', cursive;
  }
  
  .title,
  .description {
    text-align: center;
    font-family: 'Lobster', cursive;

  }
  
  .description {
    line-height: 1.5;
    font-size: 1.2rem;
    
  }
  .span {
      color: #3C841F;
  }